In [7]:
import pandas as pd
def clean_whitespace(statement):
    """
    Remove any consecutive whitespace characters from the statement text.
    """

    import re

    # Replace linebreaks and tabs with spaces
    statement = ' '.join(statement.split())

    # Remove consecutive spaces
    statement = re.sub(r'\s{2,}', ' ', statement)

    return statement.strip()

def clean_text(text):
    import re

    from pyvi import ViUtils
    text = re.sub(r"[^'/\\&@.+#*%\w\d\s]", ' ', text)

    #remove accents
    text = ViUtils.remove_accents(text).decode('utf-8')
    text = clean_whitespace(text)

    return text



data = pd.read_csv('../CV/UpdatedResumeDataSet.csv')

data.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

In [3]:
data = data[data['Category'].isin(['Data Science', 'Blockchain'])]

In [4]:
data.shape

(80, 2)

In [10]:
import nltk

for index, cv in enumerate(data[data.Category == 'Data Science'].values):
    if index == 5:
        break 
    
    resume_text = cv[1]
    
    for i, sentence in enumerate(nltk.sent_tokenize(resume_text)):
        sentence = clean_text(sentence)
        with open(f'../data/CV_text/cv_data_science{index}_{i}.txt', 'w', encoding='utf-8') as f:
            f.write(sentence)

In [11]:
for index, cv in enumerate(data[data.Category == 'Blockchain'].values):
    if index == 5:
        break 
    
    resume_text = cv[1]
    
    for i, sentence in enumerate(nltk.sent_tokenize(resume_text)):
        sentence = clean_text(sentence)
        with open(f'../data/CV_text/cv_blockchain{index}_{i}.txt', 'w', encoding='utf-8') as f:
            f.write(sentence)